# Python Caches
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# Virtual Environments
.venv/
venv/
env/
ENV/

# Caches de Linters/Testes
.mypy_cache/
.pytest_cache/
.ruff_cache/

# Dados locais e arquivos de banco (armazenados fora do repositório)
*.csv
*.parquet
*.duckdb
*.db
*.sqlite
*.pkl


# Configurações locais de IDE
.vscode/
.idea/
.env

# Arquivos temporários do OS
.DS_Store
Thumbs.db
